.GoodRank_father {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  padding: 2em;
}

.GoodRank_eachTitle {
  width: 30vw;
}

.GoodRank_titles {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.GoodRank_titles p {
  font-size: 12px;
  padding: 10px 20px;
}
