body {
  font-family: Montserrat;
}

.Header_father {
  background-color: #1929FD;
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  font-style: normal;
  font-weight: 400;
}

.Header_options button {
  background: none;
  color: white;
  margin: 20px;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.Header_options button:hover {
  color: gainsboro;
  text-shadow: black;
}
