body {
  font-family: Montserrat;
}

.Header_father {
  background-color: #1929FD;
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  width: 100%;
}

.Header_options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header_button {
  background: none;
  color: white;
  margin: 20px;
  border: none;
  font: inherit;
  cursor: pointer;
}

.Header_button:hover {
  color: grey;
}
